PORT=8788
BITGO_ENV=test
BITGO_ACCESS_TOKEN=
BITGO_WALLET_PASSPHRASE=

# Wallet ids
BITGO_ETH_TESTNET_WALLET_ID=
BITGO_ETH_MAINNET_WALLET_ID=
BITGO_SOL_TESTNET_WALLET_ID=
BITGO_SOL_MAINNET_WALLET_ID=

# Wallet addresses shown to the app
BITGO_ETH_TESTNET_ADDRESS=
BITGO_ETH_MAINNET_ADDRESS=
BITGO_SOL_TESTNET_ADDRESS=
BITGO_SOL_MAINNET_ADDRESS=
