BITGO_ENV=test
BITGO_ACCESS_TOKEN=
BITGO_WALLET_PASSPHRASE=
BITGO_ETH_TESTNET_WALLET_ID=
BITGO_ETH_TESTNET_ADDRESS=
BITGO_ETH_MAINNET_WALLET_ID=
BITGO_ETH_MAINNET_ADDRESS=
BITGO_SOL_TESTNET_WALLET_ID=
BITGO_SOL_TESTNET_ADDRESS=
BITGO_SOL_MAINNET_WALLET_ID=
BITGO_SOL_MAINNET_ADDRESS=
